@charset "UTF-8";

:root { 
	--navbar-height: 54px;
}

.row-no-padding {
	margin-left: 0;
	margin-right: 0;
}

.row-no-padding>[class*="col-"] {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.navbar {
	height: var(--navbar-height);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
}

.container {
	position: relative;
	top: var(--navbar-height);
}

*[id$=errors] {
	color: red;
	font-style: italic;
}

.filterable .panel-heading .pull-right {
	margin-top: -20px;
}

.filterable .filters input[disabled] {
	background-color: transparent;
	border: none;
	cursor: auto;
	box-shadow: none;
	padding: 0;
	height: auto;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
	color: #333;
}

.filterable .filters input[disabled]::-moz-placeholder {
	color: #333;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
	color: #333;
}

.no-resize {
	resize: none;
}

.mt-8 {
	margin-top: 8px;
}

.mt-12 {
	margin-top: 12px;
}

.mt-16 {
	margin-top: 16px;
}

.animate-spin {
	animation-name: spin;
  	animation-duration: 5000ms;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#toast {
	position: fixed;
	top: calc(var(--navbar-height)+ 32px);
	right: 32px;
	z-index: 10;
}

.toast {
	display: flex;
	align-items: center;
	background-color: #fff;
	min-width: 400px;
	max-width: 450px;
	padding: 8px 0;
	border-radius: 2px;
	border-left: 4px solid;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
	animation: slideInLeft ease .3s, fadeOut linear 1s 6s forwards;
}

@keyframes slideInLeft {
	from { 
		transform :translateX(calc(100% + 32px));
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInRight {
	from {
		transform: translateX(calc(100%-32px));
		opacity: 0;
	}
	to {
		transform: translate(0);
		opacity: 1;
	}
}

@keyframes fadeOut {
	to {
		opacity:0;	
	}
}


.toast+.toast {
	margin-top: 24px;
}

.toast--success {
	border-color: #47d864;
}

.toast--success .toast__icon {
	color: #47d864;
}

.toast--info {
	border-color: #2f86ab;
}

.toast--info .toast__icon {
	color: #2f86ab;
}

.toast--warning {
	border-color: #ffc021;
}

.toast--warning .toast__icon {
	color: #ffc021;
}

.toast--error {
	border-color: #ff623d;
}

.toast--error .toast__icon {
	color: #ff623d;
}

.toast__icon {
	font-size: 24px;
}

.toast__icon, .toast__close {
	padding: 0 16px;
}

.toast__close {
	font-size: 20px;
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.toast__body {
	flex-grow: 1;
}

.toast__title {
	font-size: 16px;
	font-weight: 600;
	color: #333;
}

.toast__msg {
	font-size: 14px;
	color: #888;
	margin-top: 6px;
	line-height: 1.5;
}
