@charset "UTF-8";

:root { 
	--navbar-height: 54px;
}

.row-no-padding {
	margin-left: 0;
	margin-right: 0;
}

.row-no-padding>[class*="col-"] {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.navbar {
	height: var(--navbar-height);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
}

.container {
	position: relative;
	top: var(--navbar-height);
}

*[id$=errors] {
	color: red;
	font-style: italic;
}

.filterable .panel-heading .pull-right {
	margin-top: -20px;
}

.filterable .filters input[disabled] {
	background-color: transparent;
	border: none;
	cursor: auto;
	box-shadow: none;
	padding: 0;
	height: auto;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
	color: #333;
}

.filterable .filters input[disabled]::-moz-placeholder {
	color: #333;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
	color: #333;
}

.no-resize {
	resize: none;
}

.mt-8 {
	margin-top: 8px;
}

.mt-12 {
	margin-top: 12px;
}

.mt-16 {
	margin-top: 16px;
}

